.button {
    gap: 6px;
    border: none;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.button--xs {
    padding: 6px;

    .icon {
        width: 12px;
        height: 12px;
    }
}

.button--sm {
    padding: 6px 12px;

    .icon {
        width: 18px;
        height: 18px;
    }
}

.button--md {
    padding: 8px 16px;

    .icon {
        width: 24px;
        height: 24px;
    }
}

.button--primary {
    color: var(--grey-500);
    transition: background-color 0.15s ease;
    background-color: var(--button-bg-primary);

    .icon {
        fill: var(--grey-500);
    }

    &:hover, &:active {
        background-color: var(--button-bg-primary-hover);
    }
}

.button--secondary {
    color: var(--grey-500);
    transition: background-color 0.15s ease;
    background-color: var(--button-bg-secondary);

    .icon {
        fill: var(--grey-500);
    }

    &:hover, &:active {
        background-color: var(--button-bg-secondary-hover);
    }
}

.button--transparent {
    background: none;

    &:hover, &:active {
        background-color: var(--button-bg-transparent-hover);
    }
}
