.button {
	gap: 6px;
	border: none;
	cursor: pointer;
	font-weight: 500;
	border-radius: 5px;
	width: fit-content;
	align-items: center;
	display: inline-flex;
	justify-content: center;
    flex-direction: row-reverse;
    font-family: Poppins, sans-serif;
}

.button--xs {
	padding: 6px;
    font-size: var(--font-size-xs);

    .icon {
		width: 12px;
		height: 12px;
	}
}

.button--sm {
	padding: 6px 12px;
    font-size: var(--font-size-sm);

    .icon {
		width: 18px;
		height: 18px;
	}
}

.button--md {
	padding: 8px 16px;
    font-size: var(--font-size-md);

	.icon {
		width: 24px;
		height: 24px;
	}
}

.button--primary {
	color: var(--grey-500);
	transition: background-color 0.15s ease;
	background-color: var(--button-bg-primary);

	.icon {
		fill: var(--grey-500);
	}

	&:hover,
	&:active {
		background-color: var(--button-bg-primary-hover);
	}
}

.button--secondary {
	color: var(--grey-500);
	transition: background-color 0.15s ease;
	background-color: var(--button-bg-secondary);

	.icon {
		fill: var(--grey-500);
	}

	&:hover,
	&:active {
		background-color: var(--button-bg-secondary-hover);
	}
}

.button--transparent {
	background: none;
    color: var(--color-primary);

    .icon {
        fill: var(--color-primary);
    }

	&:hover,
	&:active {
        color: var(--color-primary);
		background-color: var(--button-bg-transparent-hover);
	}
}
