.heading {}

.heading__align--left {
    text-align: left;
}

.heading__align--center {
    text-align: center;
}

.heading__align--right {
    text-align: right;
}

.heading__font-weight--normal {
    font-weight: 500;
}

.heading__font-weight--bold {
    font-weight: 600;
}
