:root {
	font-family: 'Poppins', sans-serif;
	font-style: normal;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    /* -----TYPOGRAPHY----- */

    /* Font sizes - mobile */
    --font-size-xs: 13px;
    --font-size-sm: 14px;
    --font-size-md: 15px;
    --font-size-lg: 18px;

    /* -----COLORS----- */

    /* Color palette */
	--grey-100: #313638;
	--grey-200: #5b5b5b;
	--grey-300: #737373;
	--grey-400: #eaeaea;
	--grey-500: #fffffa;

	--ruby-100: #702632;
	--ruby-200: #912f40;
	--ruby-300: #b54356;
	--ruby-400: #ce6874;

	--polar-mist: #acb0bd;

	/* Domain */
	color: var(--color-primary);
	background-color: var(--polar-mist);

	--color-primary: var(--grey-100);
	--color-primary-hover: var(--grey-200);
	--background-color-light: var(--grey-500);

	/* Button */
	--button-bg-primary: var(--ruby-200);
	--button-bg-primary-hover: var(--ruby-100);

	--button-bg-secondary: var(--ruby-400);
	--button-bg-secondary-hover: var(--ruby-300);

	--button-bg-transparent-hover: var(--grey-400);

	/* Input */
	--border-color: var(--polar-mist);
	--border-color-hover: var(--grey-300);

    /*Anchor*/
    --anchor-light-color: var(--grey-500);
    --anchor-light-color-hover: var(--grey-300);
    --anchor-dark-color: var(--grey-100);
    --anchor-dark-color-hover: var(--grey-200);
}

@media (min-width: 609px) {
    :root {
        /* -----TYPOGRAPHY----- */

        /* Font sizes - desktop */
        --font-size-md: 16px;
        --font-size-lg: 20px;
    }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*button {*/
	/*font-family: 'Poppins', sans-serif;*/
/*}*/

#app-container {
	gap: 16px;
	display: flex;
	padding: 24px;
	min-height: 100vh;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

main {
	width: 100%;
	max-width: 560px;
	margin-bottom: 120px;
}

.header-wrapper {
	display: flex;
	margin-bottom: 16px;
	justify-content: space-between;
}
