.books-list__wrapper {
    display: flex;
    padding: 24px;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 2px 2px 12px #313638;
    background-color: var(--background-color-light);
}

.books-list {
    gap: 8px;
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.books-list__item {
    padding: 8px;
    display: block;
    border-radius: 4px;
    border: 2px solid #313638;
}
