.anchor {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }

    & .text {
        transition: color 0.15s;
    }
}

.anchor--light .text {
    color: var(--anchor-light-color);

    &:hover,
    &:focus,
    &:active {
        color: var(--anchor-light-color-hover);
    }
}

.anchor--dark .text {
    color: var(--anchor-dark-color);

    &:hover,
    &:focus,
    &:active {
        color: var(--anchor-dark-color-hover);
    }
}

.anchor--inactive {
    &,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: currentColor;
    }
}
